<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="static/index.css">

    </head>
    <body>

        <h1 style="color:red;"><center>Welcome to "Not so Rotten Tomatoes" Search</center></h1>
        <center><img src="static/logo.png"></center>
        <center><h3 style="color:red"><u><i>Top 100 Movies Of 2021</i></u></h3></center>



        <br/>
        <br/>
        <form class="example" method="post" action="" style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search by Movie / Genre / Cast / Review Content" name="search_bar">
            <button type="submit" value="Search">Search</button>
        </form>
        <div style="margin-left: 75px;margin-right: 75px;">
            <table>
            {% for item in data %}
                <tr>
                    <td style="text-align: left;font-weight: bold;"> <a href={{item[1]}}>{{item[0]}}</a> &nbsp;&nbsp;&nbsp;&nbsp;   <img src="https://img.icons8.com/color/48/000000/tomato.png"/>{{item[3]}}</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <p>{{item[2]}}</p>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </body>
</html>
